<header>
  <section class='header-section'>
    <img src='../../assets/angular.svg' alt='Angular' class='header-img'>
    <h1 class="app-name">Angular Bored App</h1>
  </section>
  <nav class="contact-details">
    <div>by Mykola Samila</div>
    <ul class="socials-wrapper">
      <li><a class="socials socials-git" href="https://github.com/iftemplar" target="_blank" rel="noopener noreferrer">iftemplar github</a></li>
      <li><a class="socials socials-fb" href="http://fb.me/iftemplar" target="_blank" rel="noopener noreferrer">iftemplar facebook</a></li>
      <li><a class="socials socials-insta" href="http://instagram.com/iftemplar" target="_blank" rel="noopener noreferrer">iftemplar instagram</a></li>
      <li><a class="socials socials-linkedin" href="https://www.linkedin.com/in/mykolasamila" target="_blank" rel="noopener noreferrer">mykola samila linkedin</a></li>
    </ul>
  </nav>
</header>
